.modal-content {
    width: 249px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.modal-welcome {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #378e8e;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

form, .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    width: 100%;
}
