.modal-content {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.modal-welcome {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}