:root {
    --bulbasaur-dark: #378e8e;
}

body {
    background-color: var(--bulbasaur-dark);
    font-family: 'Inter', sans-serif;
}

.box-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
}

.box {
    width: 400px;
    height: 400px;
    border-radius: 10%;
    background-color: #f3f3f3; 
}

@media (max-width: 1200px) {
    .box-container {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .box-container {
        flex-direction: column;
        gap: 100px;
        padding: 75px 0;
    }
}