:root {
    --bulbasaur-dark: #378e8e;
}

body {
    background-color: var(--bulbasaur-dark);
    font-family: 'Inter', sans-serif;
}

.box-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
}

button, input {
    font-family: inherit
}
